.login {
  background: url("../../images/bg_login.png") no-repeat bottom center;
  .wrap{
    width: 1000px;
    margin: 0 auto;
    padding: 30px 0 60px;

    h2{
      font-size: 26px;
      color: #333;
      font-weight: bold;
      padding-bottom: 10px;
      border-bottom: 1px solid #E0E4EA;
      margin-bottom: 30px;
    }
    .login-img{
      float: left;
      width: 468px;
      height: 330px;
      background: url("../../images/login_img.png") no-repeat;
      margin: 30px 70px 0 0;
    }
    .login-form{
      float: left;
      width: 410px;
      height: 450px;
      box-shadow:0px 1px 20px 0px rgba(0,0,0,0.08);
    }
  }

}

.register{
  background-image: url("../../images/bg_login_small.png");
}
