.login {
  background: url("../../images/bg_login.png") no-repeat bottom center;
  .wrap{
    width: 1000px;
    margin: 0 auto;
    padding: 30px 0 60px;

  }

}

.register{
  background-image: url("../../images/bg_login_small.png");
}
