.news{
  .main-content{
    padding: 30px 0 60px;
    .list-content{
      box-sizing: border-box;
      width: 974px/1364px * 100%;
      height: 500px;
      padding-right: 30px;
      border-right: 1px solid #ddd;

      .list-title{
        width: 100%;
        height: 68px;
        line-height: 68px;
        text-align: center;
        background-color: #F8F8F8;
        font-size: 26px;
        color: #333;
        font-weight: 500;
      }

      ul li{
        padding: 30px 0;
        border-bottom: 1px solid #ddd;

      }

      .content{
        padding-top: 20px;
      }
    }

    .side-nav{
      box-sizing: border-box;
      width: 390px/1364px *100%;
      padding-left: 30px;
      .news-nav{
        border: 1px solid #E1EAF5;
      }
      dl{
        dt{
          border-bottom: 1px solid #DDE7F4;
          &:last-child{
            border: 0 none;
          }
          a{
            display: block;
            width: 100%;
            height: 68px;
            line-height: 68px;
            text-align: center;
            color: #666;
            font-weight: 500;
            background-color: #F4F8FF;
            &.current{
              background:linear-gradient(135deg,#484DDB 0%,#3CA7F5 100%);
              border-image: linear-gradient(135deg, #484DDB, #3CA7F5) 1 1;
              //border: 0 none;
              color: #fff;
            }
          }
        }

        dd{
          border-bottom: 1px solid #ddd;
          &:last-child{
            border: 0 none;
          }
          a{
            display: block;
            padding: 20px 30px;
          }
        }
      }
    }
  }
}

.news-detail{
  .main-content{
    .article{
      box-sizing: border-box;
      width: 974px/1364px * 100%;
      height: 500px;
      padding-right: 30px;
      border-right: 1px solid #ddd;

      .title{
        width: 100%;
        height: 68px;
        line-height: 68px;
        text-align: center;
        background-color: #F8F8F8;
        font-size: 26px;
        color: #333;
        font-weight: 500;
      }

      .content{
        padding-top: 20px;
      }
    }

    .side-nav{
      .news-nav{
        border: 1px solid #ddd;
      }
      dl{
        dt{
          border: 0 none;
        }

        dd{
          border-bottom: 1px solid #ddd;
          &:last-child{
            border: 0 none;
          }
          a{
            display: block;
            padding: 20px 30px;
          }
        }
      }
    }
  }
}
